@use "@angular/material" as mat;

@include mat.core();

$tamatem-red: (
  50: #f8e0e4,
  100: #edb3bc,
  200: #e1808f,
  300: #d54d62,
  400: #cc2640,
  500: #c3001e,
  600: #bd001a,
  700: #b50016,
  800: #ae0012,
  900: #a1000a,
  A100: #ffcbcc,
  A200: #ff989a,
  A400: #ff6568,
  A700: #ff4c4f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$tamatem-blue: (
  50: #e6e7ef,
  100: #c0c2d7,
  200: #9799bc,
  300: #6d70a1,
  400: #4d528d,
  500: #2e3379,
  600: #292e71,
  700: #232766,
  800: #1d205c,
  900: #121449,
  A100: #8489ff,
  A200: #5158ff,
  A400: #1e27ff,
  A700: #040eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$tamatem-primary: mat.define-palette($tamatem-blue);
$tamatem-accent: mat.define-palette($tamatem-red);
$tamatem-warn: mat.define-palette(mat.$red-palette);

$tamatem-theme: mat.define-light-theme(
  (
    color: (
      primary: $tamatem-primary,
      accent: $tamatem-accent,
      warn: $tamatem-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($tamatem-theme);
